* {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.work {
  margin: 12px;
  background-color: #FAFAFA;
  border-radius: 8px;
  border-width: 0.5px;
  border-color: #F5F5F5;
  border-style: solid;
  flex-basis: 260px;
  flex-grow: 1;
}

.work>div:first-child {
  display: flex;
  padding: 8px;
}

.spacer{
  flex-grow: 1;
}

.work>div>img {
  aspect-ratio: 1;
  width: 240px;
}

.work>div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.7ex;
  font-size: larger;
  border-style: solid none none none;
  border-color: #E0E0E0;
  border-width: 2px;
  border-top-right-radius: 40px;
}